<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans.xsd
            http://www.springframework.org/schema/context
            http://www.springframework.org/schema/context/spring-context-3.0.xsd">
            
            <bean id="myStudent" class="edu.jsp.multiplebeans1xml.school.Student"></bean>
            
            <bean id="myTeacher" class="edu.jsp.multiplebeans1xml.school.Teacher"></bean>
            
            <bean id="myTrainer" class="edu.jsp.multiplebeans1xml.qspiders.Trainer"></bean>
            <!-- we can map different id's to one class -->
            <bean id="myStudent1" class="edu.jsp.multiplebeans1xml.school.Student"></bean>
            
</beans>